* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

/* Make App width consistent */
#root {
  flex-grow: 1;
  /* CENTER the app */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px gray;
}


/***** THEME COLORS for APP *****/
Header.default-theme,
Footer.default-theme {
  background-color: #66d8f5;
}

Nav.default-theme {
  background-color: #333;
}



.Header {
  width: 100%;
  padding: 1.5rem;
}

.Header h1 {
  font-size: 2rem;
}

.Footer {
  width: 100%;
  padding: 0.75rem;
  /* center when you have only 1 thing */
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}




.Home,
.NewPost,
.PostPage,
.About,
.Missing {
  width: 100%;
  flex-grow: 1; /* Take up all extra space */
  padding: 1rem;
  overflow-y: auto; /* Allows the Footer to stay sticky at the bottom of the window. Remove this to push Footer to bottom of page. */
  background-color: #fff;
}