@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* Theme Switcher Stlyes */
:root {
  --_hue: 245; /* Default hue value */

  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --accent1--light: 10 80% 60%; /* Red color */
  --muted--light: var(--_hue) 30% 99%;
  /* Dark Mode */
  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 50% 50%;
  --accent1--dark: 10 55% 50%; /* Red color */
  --muted--dark: var(--_hue) 20% 4%;
}

@media (prefers-color-scheme: dark) {
  /* USE THESE VARs in Subsequent styles */
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --accent1: var(--accent1--light);
    --muted: var(--muted--light);
    color-scheme: light;
  }
}

/* These will overwrite all the above styles, even if the user is in light or dark mode */
:root[color-scheme="dark"] {
  --bg: var(--bg--dark);
  --txt: var(--txt--dark);
  --accent: var(--accent--dark);
  --accent1: var(--accent1--dark);
  --muted: var(--muted--dark);
  color-scheme: dark;
}

:root[color-scheme="light"] {
  --bg: var(--bg--light);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --accent1: var(--accent1--light);
  --muted: var(--muted--light);
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: hsl(var(--muted));
  color: hsl(var(--txt));
}

::selection {
  background: hsl(var(--accent) / 0.8);
  color: hsl(var(--bg));
}

#root {
  flex-grow: 1; /* Keep App width consistent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px gray;
  transition: all .5s
}

.Header,
.Footer {
  width: 100%;
  background-color: hsl(var(--accent));
}

.Header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header h1, 
.note h2 {
  font-family: "Grandstander", cursive;
}

/* React icons are svg files */
svg {
  display: block; /* Remove extra whitespace on bottom */
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: hsl(var(--muted));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid hsl(var(--accent));
}

.Nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li a {
  color: hsl(var(--txt));
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: hsl(var(--bg));
  color: hsl(var(--txt));
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.Home,
.NewNote,
.NotePage,
.Settings,
.Missing {
  width: 100%;
  flex-grow: 1; /* grow vertically to fill space */
  padding: 1rem;
  overflow-y: auto; /* Sticky footer */
  background-color: hsl(var(--bg));
}

.note {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(var(--accent) / 0.5);
}

.Home .note a {
  text-decoration: none;
}

.Home .note a,
.Home .note a:visited {
  color: hsl(var(--txt));
}

.note:first-child {
  margin-top: 0;
}

.note:last-child {
  border-bottom: none;
}

.noteDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.noteBody {
  margin: 1rem 0;
}

.newNoteForm,
.Settings {
  display: flex;
  flex-direction: column;
}

.newNoteForm label,
.Settings label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.newNoteForm input[type='text'],
.newNoteForm textarea,
.Settings input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid hsl(var(--accent));
}

.newNoteForm textarea {
  height: 300px;
}

.newNoteForm button,
.NotePage button {
  height: 48px;
  min-width: 48px;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  color: hsl(var(--txt));
  border: none;
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
  0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
}

.newNoteForm button {
  font-size: 1rem;
  border-radius: 10px;
  background-color: hsl(var(--accent));
}

.NotePage button {
  font-size: 0.8rem;
  border-radius: 0.25rem;
  margin-right: 0.8rem;
}

.deleteButton {
  background-color: hsl(var(--accent1));
}

.editButton {
  background-color: hsl(var(--accent));
}

.editButton:hover,
.newNoteForm button:hover {
  background-color: hsl(var(--accent) / 0.7);
}

.deleteButton:hover {
  background-color: hsl(var(--accent1) / 0.7);
}

.Missing p,
.NotePage p {
  margin-top: 1rem;
}

/* Theme Switcher */
.Settings h3 {
  margin-top: 3rem;
}

.theme-btn {
  font-size: 0.9rem;
  font-family: inherit;
  max-width: fit-content;
  background-color: hsl(var(--accent));
  color: hsl(var(--txt));
  border: none;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
  0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  cursor: pointer;
}

.theme-color-open {
  background-color: hsl(var(--muted) / 0.6);
  padding: 1em;
  margin-top: 1em;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newNoteForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}